* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

#projects {
  flex: 1;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#tasks {
  flex: 2;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project {
  background-color: pink;
}

.new-project {
  background-color: aquamarine;
}

.task {
  background-color: plum;
}

.new-task {
  background-color: greenyellow;
}

.project {
  background-color: plum;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  font-size: large;
}

.current-project {
  background-color: lightcoral;
}

.project-icons {
  display: flex;
  align-items: center;
  gap: 3px;
}

img {
  height: 20px;
}

.task {
  width: 200px;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 20%;
  padding: 5px 10px;
  gap: 3px;
  margin-bottom: 5px;
}

.task-icons {
  display: flex;
  align-items: center;
  gap: 3px;
}

.task-complete {
  background-image: url("images/check.svg");
}

/* must be last */
.popup {
  display: none;
}